* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.glavno {
  background-image: url("./images/pejzaz.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
  animation-name: pozadina;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes pozadina {
  0% {
    background-image: url(slika1.jpg);
  }
  25% {
    background-image: url(slika2.jpg);
  }
  50% {
    background-image: url(slika3.jpg);
  }
  75% {
    background-image: url(slika4.jpg);
  }
  100% {
    background-image: url(slika5.jpg);
  }
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(41, 41, 41, 0.5);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: 30px;
}

.navbar ul li {
  font-size: 16px;
  padding: 10px;
  display: flex;
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  margin-right: 30px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.sadrzaj {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
  align-items: center;
  text-align: center;
  color: white;
}

.sadrzaj h1 {
  font-size: 40px;
  margin-top: 80px;
}

.sadrzaj p {
  margin: 20px auto;
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 10px 0;
  margin: 20px 10px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  background: transparent;
  overflow: hidden;
  transition: 1s;
}

.btn:hover {
  background: white;
  color: black;
}

.glavno .drustvene-mreze ul {
  margin-left: 100px;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glavno .drustvene-mreze ul li {
  list-style: none;
}

.glavno .drustvene-mreze ul li img {
  width: 50px;
}

.glavno .drustvene-mreze a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.glavno .drustvene-mreze a:hover {
  transform: scale(0.5) translateY(-15px);
}

@media (max-width: 992px) {
  .navbar .logo {
    font-size: 14px;
  }
  .navbar {
    width: 90%;
    margin: auto;
    padding: 20px 0;
  }
  .navbar ul li {
    font-size: 14px;
    margin-left: -5px;
  }
  .sadrzaj h1 {
    font-size: 30px;
    margin-top: 40px;
  }
  .sadrzaj p {
    font-size: 14px;
  }
  .btn {
    width: 150px;
    font-size: 12px;
  }
  .glavno .drustvene-mreze ul li img {
    width: 35px;
  }
}

@media (max-width: 576px) {
  .navbar .logo {
    font-size: 10px;
  }
  .navbar {
    width: 98%;
    margin: auto;
    padding: 12px 0;
  }
  .navbar ul li {
    font-size: 10px;
    margin-left: -5px;
  }
  .sadrzaj h1 {
    font-size: 20px;
  }
  .sadrzaj p {
    font-size: 10px;
  }
  .glavno .drustvene-mreze ul li img {
    width: 25px;
  }
}

@media (max-width: 414px) {
  .navbar .logo {
    font-size: 9px;
  }
  .navbar ul li {
    font-size: 8px;
    margin-left: -7px;
  }
  .sadrzaj h1 {
    font-size: 18px;
  }
  .sadrzaj p {
    font-size: 9px;
  }
  .btn {
    width: 100px;
    font-size: 9px;
  }
  .glavno .drustvene-mreze ul li img {
    display: none;
  }
}
